.contact__container {
  display: grid;
  place-items: center;
}
.contact__wrapper {
  width: fit-content;
  display: flex;
  gap: 2rem;
}

.contact__wrapper a {
  background: var(--pink-400);
  font-size: 2.5rem;
  border: 2px solid transparent;
  transition: var(--transition);
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
}

.contact__wrapper a:hover {
  background: transparent;
  border-color: var(--white);
}

@media screen and (max-width: 600px) {
  .contact__wrapper {
    gap: 1.5rem;
  }
  .contact__wrapper a {
    padding: 0.5rem 0.8rem 0.4rem;
    font-size: 1.2rem;
    border-radius: 1rem;
  }
}
