nav {
  height: 5rem;
  width: 100vw;
  background: var(--pink-400);
  display: grid;

  place-items:center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.nav__container {
  width: 100% !important;
  height: 100%;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  position: relative;
  padding: 0.7rem 8rem;
}

.logo {
  width: 10rem;
  display: block;
}

.nav__toggle-btn {
  display: none;
  margin-right: 2rem;
}

.nav__links {
  display: flex;
  gap: 3.5rem;
  align-items: center;
}

.nav__links a {
  transition: var(--transition);
}

.nav__links a:hover {
  color: var(--violet);
}

.active-nav {
  position: relative;
}

.active-nav::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--pink-400);
  transform: rotate(45deg);
  position: relative;
  top: 21px;
  left: 17px;
}

/* media querys - medium & small*/
@media screen and (max-width: 1024px) {
  .nav__container {
    padding: 0.7rem 5rem;
  }

  .nav__toggle-btn {
    display: inline-block;
    background-color: transparent;
    font: 1.8rem;
    cursor: pointer;
  }

  .nav__toggle-btn svg {
    color: var(--pink-100);
    width: 22px;
    height: 22px;
  }

  .nav__links {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    gap: 0;
  }

  .active-nav,
  .active-nav::after {
    display: none;
  }

  .nav__links li {
    height: 3.3rem;
    width: 80%;
    padding: 0;
    box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.5);
  }

  .nav__links li a {
    background-color: var(--pink-400);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    right: 40px;
    bottom: 2px;
    padding: 0.5rem 8rem 0.5rem 2.5rem;
    box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.4);
  }
  .show__nav {
    display: flex;
  }
  .hide__nav {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .nav__container {
    padding: 0.7rem 3rem;
  }
  .nav__links li a {
    right: 15px;
  }
  .nav__toggle-btn {
    margin-right: 1rem;
  }
  
}
